table, th, td {

   border: 1px solid black;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

#main{
  color: Black;
  height: 150px;
  text-align: center;
  margin-left: 275px;
  display: inline-block;
}

#fixtures{
  margin-left: 30%;

}
#fixtures p{
  font-size: 20px;

}
.nav{
  margin: 0;
  background-color: #FFD700;
}

.nav-list {
   margin: 0;

  list-style: none;
  text-align: center;
  padding: 20px 0 20px 0;
}

.nav-list > li{
  display: inline-block;
  padding-right: 50px;
}

 button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border-color: black;
  border-radius: 10px;
  color: black;
  background-color:#FFD700 ;

}

button:hover{
  color: #C1C1C1;
}

#main-map{
  height: 250px;
  width: 250px;
  display: inline-flex;
}
#Stadium-info{
  height: 250px;
  width: 250px;
  padding-right: 100px;
  display: inline;
  position: relative;
  left: 100px;
}
h2{
  color: black;
}

.logo{
  color: black;
  float: left;
  padding-left: 25px;
  font-size: 30px
}

table {
  margin: 0 auto;
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	color: blue;
  text-shadow: 1px  black;
}

th {
	text-align: left;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  margin-left: 150px;
  margin-bottom: 5px;
  padding:10px 50px 10px 50px;
  background: url("dropdown.png") no-repeat 95% center;
  border-color: black;
  border-radius: 10px;
}
